<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weddingplanner">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.viewOrders.OrderDetailsActivity"></activity>
        <activity android:name=".ArticleDetailActivity" />
        <activity android:name=".JoinWeddingActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".WriteReviewActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ShortlistedVendorActivity" />
        <activity android:name=".CreateWeddingActivity" />
        <activity android:name=".ui.payment.PlaceOrderSuccess" />
        <activity android:name=".ui.payment.PaymentActivity" />
        <activity android:name=".ui.payment.CardActivity" />
        <activity android:name=".ui.viewOrders.ViewOrdersActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">

        </activity>
        <activity android:name=".VendorItemDetailsActivity" />
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".PhotoDetailActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.vendor.VendorListDetailsActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>